.dalany-color {
  background: rgb(110, 3, 211);
}
.dalany-color2 {
  background: rgb(84, 2, 161);
}
.dalany-color-white {
  background: rgb(243, 243, 243);
}

.transparent {
  background-color: rgba(110, 3, 211, 0.418);
}
